input,
label {
  max-width: 500px;
  width: 95%;
}

label {
  margin: auto;
  display: block;
}

input {
  color: #0168AB;
  background-color: transparent;
  font-size: 20px;
  height: 56px;
  border: 0 none;
  border-bottom: 1px solid #0168AB;
  outline: none;
  padding: 2px 4px;
}
