h1 {
  text-align: center;
}

section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.dialog-modal {
  top: 0;
  position: absolute;
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  display: flex;
  flex-basis: auto;
  visibility: hidden;
}
.dialog-modal.active {
  visibility: visible;
}
