h1 {
  text-align: center;
  margin: auto;
  width: 500px;
}

@media (min-width: 960px) {
  people-card /deep/ md-card {
      -webkit-flex: 1 1 40%;
      -ms-flex: 1 1 40%;
      flex: 1 1 40%;
      max-width: 40%;
      max-height: 100%;
  }
}
