<sfeir-search (onSearch)="onSearch($event)"></sfeir-search>

<h1 i18n >
  <span>{{ filteredPeople.length | i18nPlural: messageMapping}}</span>
</h1>

<section>
  <sfeir-card
    *ngFor="let person of filteredPeople"
    [person]="person"
    (onDelete)="onDelete($event)"
  ></sfeir-card>
</section>

<section class="dialog-modal" [ngClass]="{ 'active': dialogStatus == 'active' }">
  <sfeir-form class="wide" (onSubmit)="onAdd($event)" (onCancel)="hideDialog()"></sfeir-form>
</section>

<button (click)="showDialog()" *ngIf="dialogStatus == 'inactive'" md-fab color="accent">
  <md-icon class="md-24">+</md-icon>
</button>
