<md-card class="md-whiteframe-2dp">

  <md-card-title [ngSwitch]="isUpdateMode">
    <span *ngSwitchCase="true" >Update {{ model?.firstname }} {{ model?.lastname }}</span>
    <span *ngSwitchDefault>Create new person</span>
  </md-card-title>

  <md-card-content>
    <form novalidate>

      <p *ngIf="isUpdateMode">
        <md-input style="width:100%" placeholder="ID (disabled)" disabled  name="id" [value]="model?.id"></md-input>
      </p>

      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <md-input placeholder="First name" name="firstname" [value]="model?.firstname"></md-input>
            <md-input placeholder="Last Name" name="lastname" [value]="model?.lastname"></md-input>
          </td>
          <td class="align-right"><img width="100" src="{{ model?.photo || 'https://randomuser.me/api/portraits/lego/6.jpg' }}"/></td>
        </tr>
      </table>

      <p>
        <md-input placeholder="Address" style="width:100%" name="street" [value]="model?.address?.street"></md-input>
      </p>

      <p  ngModelGroup="address">
        <md-input placeholder="City" name="city" [value]="model?.address?.city"></md-input>
        <md-input placeholder="Postal Code" name="postalCode" [value]="model?.address?.postalCode"></md-input>
      </p>

      <p>
        <md-input placeholder="Phone" style="width:100%" name="phone" [value]="model?.phone"></md-input>
      </p>

      <p>
        <md-checkbox [checked]="false">Manager</md-checkbox>
      </p>

    </form>
  </md-card-content>


  <md-card-actions align="end">
    <button md-button [disabled]="false" color="primary" type="submit" (click)="submit()">Save</button>
    <button md-button (click)="cancel()" type="button">Cancel</button>
  </md-card-actions>

</md-card>
