label {
  width: 600px;
  margin: auto;
  display: block;
}

input {
  color: #0168AB;
  background-color: transparent;
  width: 500px;
  font-size: 44px;
  height: 56px;
  border: 0 none;
  border-bottom: 1px solid #0168AB;
  outline: none;
  padding: 2px 4px;
}
